<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
</head>
<body>
<div th:if="${msgExito != null}">
    [[${msgExito}]]
</div>
<h3>Mi lista de contactos</h3>

<a href="/nuevo">
    Nuevo contacto
</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Celular</th>
        <th>Email</th>
        <th>F. Nacimiento</th>
        <th>F. Registro</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contacto : ${contactos}">
        <th th:text="${contacto.id}"></th>
        <th th:text="${contacto.nombre}"></th>
        <th th:text="${contacto.celular}"></th>
        <th th:text="${contacto.email}"></th>
        <th th:text="${#temporals.format(contacto.fechaNacimiento, 'dd/MM/YYYY')}"></th>
        <th th:text="${#temporals.format(contacto.fechaRegistro, 'dd/MM/YYYY hh:mm a')}"></th>
    </tr>
    </tbody>
</table>

</body>
</html>